@model IEnumerable<ProductosyServicios.Entities.Proveedor>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<h1>Proveedor</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProveedorId" class="btn btn-warning"> Editar <i class="bi bi-pen"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ProveedorId" class="btn btn-info"> Detalle <i class="bi bi-border-width"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ProveedorId" class="btn btn-danger"> Eliminar <i class="bi bi-trash"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>
